.text-updater-node {
    height: 24px;
    width: 138px;
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background: white;
    align-content: center;
  }
  
  .text-updater-node label {
    display: block;
    font-size: 12px;
  }